* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

:root {
  --green: #008000;
}

.nav-item a:hover {
  border-bottom: 1px solid var(--green);
}

.navbar-expand-lg .navbar-nav {
  gap: 10px;
  font-size: 20px;
}

.carousel-item img {
  height: 560px;
  margin-top: 90px;
}

.about img {
  width: 450px;
  height: 500px;
}

.container h2 {
  font-size: 40px;
}

.container h2:hover {
  text-decoration: underline 2px solid var(--green);
}

.profile h3 small {
  font-size: 15px;
  font-weight: bold;
  color: var(--green);
}

a .btn-outline-success{
  padding: 5px 30px;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .about img {
    width: 360px;
    height: 400px;
  }
}
